.Mui-selected {
    text-decoration: underline;
}

.fa-times {
    padding: .6em;
    border-radius: 5px;
    background-color: green;
    border: 1px solid black;
    color: white;
    transition: .3s;
}

.fa-times:hover {
    cursor: pointer;
    background-color: rgb(0, 92, 0);
    transition: .3s;
}