#user {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    height: max-content;
    padding: 2em 0em;
}

#user h4 {
    color: black;
}

#user nav {
    margin-left: 3em;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.584);
}

#user form {
    height: 5em;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    padding: 4em;
}
/* .back {
    position: absolute;
    left: 0;
    background-color: gray;
    height: 120vh;
    width: 360px;
    top: 40%;

} */

.usercard {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 40px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 2em;
    height: max-content;
    width: max-content;
    transition: 0.3s;
    padding: 3em 4em;
  }



.usercard:hover {
    box-shadow: 0 0px 10px 10px rgba(222, 220, 220, 0.3);
}
  
.usercard p {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.usercardinfo {
    border-radius: 20px;
    border: 1px solid black;
    padding: 1em 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: min-content;
}
.usercard form {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    padding: 3em 3em;
}

.usercard input {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.usercard button {
    padding: 8px 12px;
    font-size: 14px;
    background-color: #ff7f00;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.usercard button:hover {
    background-color: #e65c00;
}

.usermain {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 10em;
    padding-top: 1em;
}



.collections {
    width: 80%;
    min-height: 100vh;
    max-height: fit-content;
    background-color: rgb(236, 236, 234);
    border-radius: 20px;
    color: black;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.collections-upper {
    display: flex;
    width: 90%;
    height: 40px;
    align-items: center;
    justify-content: flex-end;
}

.create-button {
    height: 100%;
    gap: 1em;
    display: flex;
    flex-direction: column;
}
.create-button button {
    padding: 5px;
    z-index: 2;
    border-radius: 10px;
}
.create-button button:disabled:hover {
    cursor: not-allowed;
}
.create-button button:hover {
    cursor: pointer;
}
.collection-create { 
    z-index: 1;
    position: absolute;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: rgb(244, 244, 184);
    height: 120px;
    width: 185px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid black;
    
}
.collection-create input {
    height: 20px;
    width: 90%;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 3px;
}
.collection-create button {
    height: 30px;
    width: 40%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.collection-create p {
    font-size: 12.5px;
    text-align: center;
}

.collection {
    margin-top: 1em;
    width: 100%;
}
.collection-inner {
    padding-top: 10px;
}
.collection-inner button {
    align-self: center;
    padding: 6px;
    border-radius: 10px;
    background-color: rgb(215, 100, 100);
    color: white;
}
.collection-inner button:hover {
    cursor: pointer;
}
.collection-inner li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.collection-inner a {
    color: black;
}
.collection-inner a:hover {
    cursor: pointer;
    color: rgb(98, 96, 96);
}
.collection-inner li {
    padding-top: 10px;
}

.collection-delete {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete-confirmation {
    width: 150px;
    height: 40px;
    position: absolute;
    margin-top: 15px;
    margin-left: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.choose-document {
    position: absolute;
    margin-left: -50px;
}

.delete-docs {
    position: absolute;
    left: 0;
    margin-left: 30px;
    margin-top: -40px;
    width: 250px;
    height: 50px;
}

.doc-delete-loading {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}


