#admin {
    min-height: 100vh;
    height: max-content;
    min-width: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5em 2em;
}

#admin form {
    font-size: 14px;
}


.creation {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 30vw;
}

.creation-title {
    color: black;
    padding-bottom: 12px;
    font-size: 18px;
}

.creation-info-text {
    color:black;
    font-size: 12px;
    font-style: italic;
    margin-top: -12px;
}
  
.creation form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#doc_upload,
.creation-submit-button {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
    color: black;
}

#doc_upload {
    width: 300px;
    background: white;
}

.main-label {
    color: black;
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
    transition: .3s;
    background: white;
    width: 300px;
    height: 6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.creation label:hover {
    transition: .3s;
    background: rgb(223, 223, 223);
    cursor: pointer;
}

.upload-file-dnd-info {
    /* position: absolute; */
    /* margin-top: 4.5em; */
    opacity: .7;
}

.creation span {
    color: red;
}
.preview {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5em;
}
.preview p {
    color: black;
}
.preview h5 {
    color: black;
}
.chosen-file {
    width: 28em;
    background: rgb(64, 253, 237);
    border: 1px solid black;
    border-radius: 10px;
    padding: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
    height: 680px;
    gap: 20px;
}


.chosen-file-info-block {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: fit-content;
}

.chosen-file-info-block input {
    width: 300px;

}

/* .chosen-file-name {} */

.upload-file {
    opacity: 0;
    height: 0;
    width: 0;
    position: absolute;
    bottom: 40%;
    z-index: -1;


}

.warning {
    color: red;
    font-size: 14px;
    margin-top: 1em;
}

.delete-all {
    color: red;
    position: absolute;
    font-size: 14px;
    margin-top: .3em;
    margin-left: .6em;
}
.delete-all:hover {
    cursor: pointer;
}

.new-files-added,
.new-files-error {
    color: black;
    text-align: left;
    margin-top: 1em;
}

.creation-submit-button {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

.creation-submit-button:disabled {
    opacity: .7;
    cursor: not-allowed;
}

.creation-submit-button:hover {
    background-color: #45a049;
}
.creation-submit-button:disabled:hover {
    background-color: #4caf50;
    cursor: not-allowed;
}

.creation select {
    width: 300px;
}

.chosen-file-status {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: .5em;
}

.chosen-file-status select {
    width: 90%;
}

.brandCreated {
    color: black;
    border: 1px solid black;
    padding: 2em;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.brandCreated img {
    height: 70px;
    width: auto;
}

.carCreated {
    color: black;
    border: 1px solid black;
    padding: 1.5em;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.carCreated img {
    height: 200px;
    width: auto;
    border-radius: 10px;
}

.userMessage {
    margin-top: 3em;
    width: 80%;
    height: max-content;
    min-height: 60vh;
    background-color: #f5f5f5;
    border-radius: 20px;
    color: black;
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;
}

.userMessage h4 {
    align-self: center;
    padding-bottom: 1em;
}


.userMessage button {
    border-radius: 20px;
    border: 1px solid white;
    background-color: red;
    color: white;
    padding: .7em .7em;
    cursor: pointer;
    transition: .2s;
    margin-top: 2em;
    align-self: center;
}

.userMessage button:hover {
    background-color: rgb(229, 4, 4);
}