#doc {
    padding-top: 1em;
    min-height: 100vh;
    height: max-content;
    padding-bottom: 2em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    color: black;
}

.doc-text {
    background: white;
    width: 60%;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 2em;
    padding-top: 1em;
    color: black;
    border-radius: 5px;
    text-align: center;
}


.doc-info {
    background: white;
    width: 70%;
    padding: 3em;
    color: black;
    border-radius: 5px;
}

.doc-info a {
    padding: .4em;
    background-color: #416475;
    border-radius: 5px;
}

.doc-text-title {
    margin-bottom: 2em;
    border-bottom: 1px solid black;
    width: 100%;
    opacity: .9;
}