#search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 110vh;
    padding-top: 1em;
    padding-bottom: 2em;
    gap: 5em;
}

.main {
    width: 80vw;
    height: 120vh;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border: 1px solid black;

}

.main-header {
    width: 100%;
    height: 10%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: black;
    background-color: beige;
    border-bottom: 1px solid black;
}

.search-main {
    height: 20%;
    width: 100%;
}

.search-type-switch {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-type-switch div{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-type-switch button {
    height: 3rem;
    width: 10rem;
}


.search-field {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.search-field i {
    height: 3.3rem;
    width: 3rem;
    transition: .3s;
    font-size: 34px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .15s;
    color: black;
}
.search-field i:hover {
    cursor: pointer;
    font-size: 38px;
    transition: .15s;
}

.search-field div::after {
    font-size: 12px;
    color: grey;
    position: absolute;
    content: attr(dataattr);
    top: 60px;
    left: 2px;
}


.search-results {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.search-save {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-right: 1em;
    margin-top: -1.5em;
    padding-bottom: 2.5em;
}

.search-save-button {
    width: 240px;
    height: 40px;
    background-color: bisque;
    border-radius: 10px;
    border: 1px solid black;
    padding: .5em;
    transition: .3s;
    color: black;
    z-index: 2;

}
.search-save-button::after {
    width: 250px;
    height: 10px;
    font-size: 12px;
    color: red;
    position: absolute;
    content: attr(dataattr);
    /* margin-left: -215px;
    margin-top: -28px; */
    top: 318px;
    /* right: 146px; */
    left: 1122px;
    text-align: left;
}
.search-save-button:hover {
    cursor: pointer;
    background-color: rgb(176, 152, 123);
    transition: .3s;
}
.search-save-button:disabled:hover {
    background-color: bisque;
    cursor: not-allowed;
}
.choosing-collection {
    position: absolute;
    background-color: ivory;
    border: 1px solid black;
    width: 240px;
    height: 150px;
    z-index: 1;
    padding-top: 40px;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    color: black;
}
.choosing-collection button {
    border-radius: 5px;
    border: 1px solid black;
    padding: .15em;
}
.choosing-collection button:hover {
    cursor: pointer;
}
.choosing-collection button:disabled:hover {
    cursor: not-allowed;
}
.search-result-holder {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    color: black;
}

.search-result {
    width: 90%;
    height: 80px;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.search-result-number {
    width: 5%;
    height: 80px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-right: 1px solid black;
}
.search-result-number .choose-document {
    position: absolute;
    margin-right: 90px;
}
.search-result-number p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.search-result-doctitle {
    height: 80px;
    width: 20%;
    border-radius: 20px;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    line-height: 1;
    padding: .2em;
}

.search-result-doctitle a {
    margin: 0;
    color: blue;
}

.search-result-doctitle a:hover {
    cursor: pointer;
}

.search-result-docstatus {
    width: 7%;
    height: 80px;
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border-right: 1px solid black;
}

.search-result-docstatus p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.search-result-doctext {
    height: 80px;
    width: 67%;
    padding: 5px;
    text-align: justify;
    font-size: 12px;

    
}
.search-result-doctext p {
    margin: 0;
    padding: 0;
}

/* .search-result-match-num {
    
} */

.warning-link {
    color: rgb(96, 2, 2);
    text-decoration: underline;
    margin-left: 4px;
}

.search-result-number::after {
    font-size: 12px;
    color: grey;
    position: absolute;
    margin-bottom: 3em;
    content: attr(dataattr);
    margin-bottom: 6%;
    margin-left: 12%;
}

.search-pages {
    width: 100%;
    height: 11%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: beige;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: 1px solid black;
}

