#service {
    min-height: 100vh;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 3em;
    padding-top: 5em;
    padding-bottom: 5em;
    
}

.servicecontainer {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.serviceobject {
    background-color: black;
    width: 20%;
    height: 55%;
    padding: .8em 1.5em;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    font-size: 17px;
    font-family:'Bitter', serif;
}

#tosmotr {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./tosm.jpg');
    background-size: cover;  
    background-repeat: no-repeat;
    background-position: center;  
}


#tobsl {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./tobsl.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;   
}

#gr {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./gr.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#kr {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./kr.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}


#stext {
    margin-top: -15px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 5em;
}

.info a {
    margin-top: -3em;
    border-radius: 20px;
    width: max-content;
    height: max-content;
    padding: 1em 1em;
    background-color: #24b3b3;
}

@media (max-width:700px) {
    .servicecontainer {
        flex-wrap: wrap;
        flex-direction: row;
        gap: 3em;
    }
    .serviceobject {
        width: 80%;
    }

    #service {
        height: 200vh;
        flex-direction: column;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 3em;
        padding-bottom: 10em;
        text-align: center;
        margin-top: 2em;
    }
    .info {
        margin-top: 35em;
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 6em;
        align-items: center;
        text-align: center;
    }
  } 